
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/allure-report/
/.allure/
/.allure-results/
/.env
data/
dist/
traces/
metrics/
dashboards/
allure-results/
allure-history/
/test-results/